<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <Button id = color >change color</Button>


    
    <script src="app.js"></script>
  </body>
</html>
