<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>Make an alarm</p>
    
    <form action="/testAction" method="GET">
      Set time<br>
      <input type="time" name="time"><br>
      <br>
      <input type="submit" value="Submit">
    </form>

    <p><%= alarm %></p>
    
    <script src="index.js"></script>
  </body>
</html>
