<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p><%= title %></p>
    
    <form action="/testAction" method="GET">
      Hour<br>
      <input type="text" name="hr" value="Mickey"><br>
      Minute<br>
      <input type="text" name="min" value="Mouse"><br><br>
      <input type="submit" value="Submit">
    </form>


    
    <script src="index.js"></script>
  </body>
</html>
