<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="943709348014-7ih724grhhmlq50te9tn02gmbi39s4ao.apps.googleusercontent.com">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <p>Make an alarm</p>
    
    <form action="/newAlarm" method="GET">
      Set time<br><br>
      Hour<input type="number" name="hour" min="0" max="24"><br>
      <br>
      Minute<input type="number" name="minute" min="1" max"59"><br>
      <br>
      Give it a name<br>
      <input type="text" name="name">
      <input type="submit" value="Submit">
      
      <br><br><br>
    </form>

    <!--Set time<br><br>
    Hour <input type="number" name="hour" id="hour" min="0" max="24"><br>
    <br>
    Minute <input type="number" name="minute" id="minute" min="1" max"59"><br>
    <br>

    <button id="setAlarmButton">set alarm</button>
    <br>
    <br>
    -->
    <button id="getAlarmButton">get alarm</button>
    <br>
    Name:<br>
    <input type="text" id="getAlarmName" value="baru"></p>

    <h3 id="alarmText"></h3>
    
    <script src="index.js"></script>
  </body>
  <script>

    $("#getAlarmButton").click(function(){
        // $("#alarmText").html("TESTING ALARM");
        var alarmName = $("#getAlarmName").val();
        //console.log("Data: " + alarmName);
        console.log(JSON.stringify(alarmName));
        //console.log(JSON.stringify({"alarmName":alarmName}));
        $.ajax({type:"GET", url: "/testAction",data:{"alarmName":JSON.stringify(alarmName)}, datatype:"json", success: function(result){
          console.log("successful ajax request");
          
          $("#alarmText").html(result);
        }});
    });



  </script>
</html>
